# Data directories
/Results/
Results/p3pResult.mat


#Data files
*.avi     


# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag
Resources/
Sandbox/CamImgs/
Testers/imuCalib/
Tests/
*.elf
*.tgz
results.mat
+bus_conv_fcns/
msgdef/
src/
Sandbox/Jetson/ros2Sub_ert_rtw/
Functions/Graveyard/Sandbox/CamImgs/
Functions/Graveyard/
*.fig
